---  
layout: main 
title: Home
exclude_from_nav: true
---

{% capture notes %}
<a href = "{{ site.baseurl }}/notes/">Notes</a>
{% endcapture %}

{% capture hw %}
<a href = "{{ site.baseurl }}/assignments/">Assignments</a>
{% endcapture %}

{% capture exam %}
<a href = "{{ site.baseurl }}/exams/">Exams</a>
{% endcapture %}

{% comment %}
<p><b>04/28/2024</b>: See the {% include hwRef.html hwLabel = "Assignments" %} page for the remaining assignments</p>

<p><b>04/04/2024</b>: {% include hwRef.html hwLabel = "Lab 7" %} posted (Due: Wednesday, 4/13/22)</p>
<p><b>03/10/2024</b>: {% include hwRef.html hwLabel = "Lab 6" %} posted (Due: Wednesday, 3/23/22)</p>
<p><b>03/01/2024</b>: {% include hwRef.html hwLabel = "Lab 5" %} posted (Due: Monday, 3/07/22)</p>
<p><b>02/15/2024</b>: {% include hwRef.html hwLabel = "Lab 3" %} posted (Due: Wednesday, 2/23/22)</p>
<p><b>02/08/2024</b>: {% include hwRef.html hwLabel = "Lab 2B" %} posted (Due: Wednesday, 2/16/22)</p>
<p><b>02/03/2024</b>: {% include hwRef.html hwLabel = "Lab 2A" %} posted (Due: Wednesday, 2/09/22)</p>
{% endcomment %}


<! -- start here -->
<p><b>04/02/2024</b>: {% include hwRef.html hwLabel = "Lab 10" %} posted (Due: Thursday, 4/04/2024; you cannot use your grace period)</p>
<p><b>03/26/2024</b>: {% include hwRef.html hwLabel = "Lab 9" %} posted (Due: Tuesday, 4/02/2024)</p>
<p><b>03/20/2024</b>: {% include hwRef.html hwLabel = "Lab 8" %} posted (Due: Tuesday, 3/26/2024)</p>
<p><b>02/29/2024</b>: Labs 5 and 6 posted in {% include hwRef.html hwLabel = "Assignments" %} </p> 
<p><b>02/07/2024</b>: {% include hwRef.html hwLabel = "Lab 4" %} posted (Due: Thursday, 02/15/2024)</p>
<p><b>01/23/2024</b>: {% include hwRef.html hwLabel = "Lab 1" %} posted (Due: Thursday, 02/01/2024)</p>
<p><b>01/14/2024</b>: Welcome to <b style = "color: red"> Introduction to Bioinformatics </b> for the Spring 2024 Semester! This page will be used to provide course material for CSC-314.  Please see the links above for more information. </p>

{% comment %}
<p><b>04/27/2024</b>: Lab 12 and Final Project posted in {{hw}} </p>
<p><b>03/30/2024</b>: {% include hwRef.html hwLabel = "Lab 10" %} posted (Due: Monday, 04/03/2024)</p>
<p><b>03/25/2024</b>: {% include hwRef.html hwLabel = "Lab 9" %} posted (Due: Wednesday, 03/29/2024)</p>
<p><b>03/12/2024</b>: {% include hwRef.html hwLabel = "Lab 8" %} posted (Due: Friday, 03/24/2024)</p>
<p><b>03/12/2024</b>: {% include hwRef.html hwLabel = "Lab 7" %} posted (Due: Wednesday, 03/22/2024)</p>
<p><b>03/05/2024</b>: {% include hwRef.html hwLabel = "Lab 6" %} posted (Due: Friday, 03/10/2024)</p>
<p><b>02/28/2024</b>: {% include hwRef.html hwLabel = "Lab 5" %} posted (Due: Wednesday, 03/08/2024)</p>
<p><b>02/18/2024</b>: {% include hwRef.html hwLabel = "Lab 4" %} posted (Due: Tuesday by noon)</p>
<p><b>02/02/2024</b>: {% include hwRef.html hwLabel = "Lab 3" %} posted (Due: Monday, 02/13/2024)</p>
<p><b>01/31/2024</b>: {% include hwRef.html hwLabel = "Lab 2" %} posted (Due: Wednesday, 02/08/2024)</p>

<p><b>09/03/2020</b>: See the {% include hwRef.html hwLabel = "Assignments" %} page for additional assignments due 9/9/2020.</p>

<p class = 'today'><b>11/30/2020</b>: The final project has been assigned -- see the {{hw}} page for the handouts and important dates.</p>
<p class = 'today'><b>11/20/2020</b>: The BLAST lab has been posted on the {{hw}} page.</p>
<p class = 'today'><b>11/09/2020</b>: For today's class, we will review Biopython and other python concepts from the notebook on the {{exam}} page. </p>
<p class = 'today'><b>10/26/2020</b>: For today's class, we will go over some of Lab 7 on the {{hw}} page. </p>
<p class = 'today'><b>10/21/2020</b>: For today's class, again download the More Python notebooks (lc-and-re-notebook.zip) available on the {{notes}} page. </p>
<p class = 'today'><b>10/19/2020</b>: For today's class, download the More Python notebooks (lc-and-re-notebook.zip) available on the {{notes}} page. </p>
<p class = 'today'><b>10/14/2020</b>: See the {{hw}} page for Lab 6 (Due: Monday, 10/19) and Lab 7 (Due: Wednesday, 10/21). </p>
<p class = 'today'><b>10/12/2020</b>: For today's class, we will go some of Lab 5 and I will introduce Lab 6 and 7, which are all available on the {{hw}} page. </p>
<p class = 'today'><b>10/09/2020</b>: For today's class, we will go over the Biopython notebooks posted on the {{notes}} page. </p>
<p class = 'today'><b>10/07/2020</b>: For today's class, we will begin with a Jupyter Notebook example (you should open one). We will then work on Lab 5 which is available on the {{hw}} page. </p>
<p class = 'today'><b>09/28/2020</b>: For today's class, we will begin by going over some of Lab 3. To follow along, open your Lab 3 or download the lab which is available on the {{hw}} page. </p>
<p class = 'today'><b>09/21/2020</b>: For today's class, open the 3-files Jupyter Notebook which we started last class. Also download the Lab 3 zip file from the {{hw}} page and extract the files. Lab 3 is due Friday, 9/25/2020. </p>
<p class = 'today'><b>09/18/2020</b>: For today's class, download the More Python zip file from the {{notes}} page, extract the files, and open Jupyter Notebooks. </p>
<p class = 'today'><b>09/14/2020</b>: For today's class, open Jupyter Notebook and open the <i>if_and_loops</i> Notebook from last class and also download the {% include hwRef.html hwLabel = "Lab #2 Notebook" %} from the Assignments page </p>
<p><b>09/11/2020</b>: For today's class, follow the directions for 9/9/20. </p>
<p><b>09/09/2020</b>: For today's class, download the Python Programming Basics zip file from the {% include notesRef.html notesLabel = "notes" %} section, extract files, and open a Jupyter Notebook. In addition, {% include hwRef.html hwLabel = "Lab 2" %} is posted (Due: Wednesday, 9/15/20)</p>

{% endcomment %}

    <script>
    var dt = new Date()

    var dd = dt.getDate();
    if (dd < 10) {
        dd = '0' + dd;
    }
    var d = dt.getMonth() + 1 + '/' + dd + '/' + dt.getFullYear()
    var x = document.getElementsByClassName('today')[0]
    if (x.innerHTML.includes(d+'</b>')) {
        x.style.backgroundColor = 'yellow';
    }
    </script>
